$hl_color_bg: #eee;

#header {
  line-height: 50px;


  .brand {
    text-decoration: none;
    font-size: 20px;
    .mission{
      color: #CCC;
    }
  }
}

#footer{
  border-top: 1px solid #F2F2F2;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 50px;
  color: #CCC;
  a{
    color: #333;
  }
}

.tools {
}

li.header{
  font-size: 16px;
}

ul#inquiries{
  li.inquiry {
    h1 {
      margin: 0px;
    }

    &.iq-open {
      border: none;

      // @include background-image(linear-gradient(120deg, #2ac363, #cd8c14, #9c4cc2));

      @include filter-gradient(#FFF, $hl_color_main, vertical);
      @include background-image(linear-gradient(top, #F0F0F0 0%, #FFF 40%));

    }

    // background-color: $hl_color_bg;
    border-bottom: 1px solid $hl_color_bg;
    padding-top: 15px;
    padding-bottom: 15px;

    &:last-child {
      border: none;
    }

    .col-reason-wrap{
      position: relative;
      .circle{
        position: absolute;
        left: 0px;
      }

      .reason{
        padding-left: 50px;
        font-size: 16px;

        .public_name {
          font-style: italic;
          // color: #CCC;
        }
      }
    }

    .amount-wrap, .score-x{
      // font-size: 30px;
    }

    .inline-tools-wrap {display: none;}
    &:hover {
      background-color: #f2f2f2;
      .inline-tools-wrap {display: block;}
    }

    .loans{
      border: 1px solid red;
      display: block;
      display: none;
    }

    &.loan-given {
      .amount-wrap h1 {
        text-decoration: line-through;
        color: #CCC;
        small {
          text-decoration: none;
        }
      }
    }
  }

  li.inquiry-details{
    -moz-box-shadow:    inset 0 0 5px #666;
    -webkit-box-shadow: inset 0 0 5px #666;
    box-shadow:         inset 0 0 5px #666;
    position: relative;

    .container{
      position: relative;
      .arr_down {
        position: absolute;
        display: inline-block;
        height: 30px;
        width: 30px;
        top: 0px;
        left: 30px;
        background-position: top center;
        background-repeat: no-repeat;
        background-image: image-url('arr_down_cl.png');
        background-size: 100%;
      }
    }


    display: none;
    background-color: #eee;
    color: #333;

    &.open {
      display: block;
    }

    .score-table{
      tbody td, tbody th{
        background-color: red;
      }
    }
  }
}

.field_with_errors {
  input[type=text], select, textarea{
    border: 1px solid red;
  }
}

.pager .next > a, .pager .next > span {
  float: none;
}

.circle {
  line-height: 0;
  display: inline-block;
  margin: 5px;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 50%; /* relative value */
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  transition: linear 0.25s;
  height: 32px;
  width: 32px;

  img{
    border-radius: 50%; /* relative value for
           adjustable image size */
  }
}


.c-0 { background-color: #e63835; }
.c-1 { background-color: #e65534; }
.c-2 { background-color: #e67233; }
.c-3 { background-color: #e68f33; }
.c-4 { background-color: #e6ad32; }
.c-5 { background-color: #e6ca31; }
.c-6 { background-color: #e2e631; }
.c-7 { background-color: #c4e630; }
.c-8 { background-color: #a6e62f; }
.c-9 { background-color: #87e62f; }

