
- if (inquiries = @inquiries).empty?
  %p
    Sorry, no loan inquiries,... Be the first. Create one!
- else
  %ul#inquiries.list-unstyled
    %li.header
      .container
        .col-sm-3.amount
          Loan amount / H. Score
        .col-sm-6.reason
          Reason
        .col-sm-2=" "
        .col-sm-1.expires_at
          When?

    - inquiries = @inquiries.each_with_index do |inquiry, index|
      = render partial: 'inquiry_row', locals: {inquiry: inquiry}

    %li.paginator
      .container
        .row
          .col-md-12.text-center
            %ul.pager
              %li.next=link_to_next_page @inquiries, 'See more loan inquiries...', remote: true
