%li.inquiry
  .container
    .col-sm-2
      .amount-wrap
        = inquiry.format_price
    .col-sm-6.reason-col
      .col-reason-wrap
        .circle
          =image_tag inquiry.user.gravatar, width: 30
        .reason
          = inquiry.reason
          .public_name
            = "- #{inquiry.user.public_name}"

    .col-sm-3.expires_at
      =distance_of_time_in_words_to_now inquiry.expires_at
    .col-sm-1.score.text-center
      %span.badge=inquiry.score
