.tools
  .container
    %ul.list-inline
      %li
        =link_to [:new, :inquiry], class: %w{btn btn-default} do
          &plus;
          Create new loan inquiry

#live-inquiries
  = render 'inquiries'
