.tools
  .container
    %ul.list-inline
      %li
        =link_to [:new, :inquiry], class: %w{btn btn-default} do
          &plus;
          Create new loan inquiry
      %li.pull-right{style:"padding-right:0px;"}
        =link_to root_path, class: %w{btn btn-default} do
          How can I improve my
          %strong hl. score?

#live-inquiries= render 'inquiries'
